$navbar-height : 120px;
$navbar-height-med: 91px;
$navbar-height-small: 83px;
$animation-time: 0.5s;

#navbar{
    height: $navbar-height;

    .navbar{
        padding:0px;
        border-style: solid;
        border-width: 0px 0px 1px 0px;

        .navbar-nav{
            margin-bottom: -1px;
        }

        a{
            padding: 0px 8px;
        }

        .active{
            border-style: solid;
            border-width: 0px 0px 1px 0px;
        }
    }

    #index{
        padding-top: 10px;
        padding-left: 30px;
        margin: 0px;

        h1{
            margin:0px;

            &:before {
                content: "/";
            }
        }
    }

    .my-controls{
        text-align:center;
        float: right;

        margin-top: 20px;
        margin-right: 20px;

        .fas{
            margin-top: 4px;
        }

        .fa-moon{
            display:block;
            float:left;
        }
        .toggle-buttom{
            width: 75px;
            display:inline-block;
        }
        .fa-sun{
            display:block;
            float:right;
        }
    }


}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    
    .my-controls{
        width: 75px;
        .fas{
            visibility: collapse;
            width: 0px;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
    #navbar{
        height: $navbar-height-med;
    }
    
    .my-controls{
        width: 75px;
        .fas{
            visibility: collapse;
            width: 0px;
        }
    }
 }

 // Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    
    .my-controls{
        width:120px;
    }

}

.dark-theme{
    background-color: #343a40;

    h1{
        color: #fff;
    }
    .navbar{
        border-color:black;
    }
    .active{
        border-color:white;
    }

    .fas{
        color: lightgray;
    }
}


.light-theme{
    background-color: rgb(231, 231, 231);

    h1{
        color: #343a40;
    }
    .navbar{
        border-color:darkgrey;
    }
    .active{
        border-color:rgb(231, 231, 231);
    }

    .fas{
        color: grey;
    }
}