ul {
    text-align: justify;
}
ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}
ul:before {
    content: '';
    display: block;
}
li {
    display: inline-block;
    position: relative;
    top: 1.25em;
    margin: 40px;
}