<div class="container">
    <div [ngClass]="lighttheme ? 'light-theme' : 'dark-theme'">
        <br><br>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="animate">
                    <h2>react & redux</h2>
                </div>
                <app-card
                    [animate]="true"
                    [img-src]="'../../../assets/burger-thumbnail.png'"
                    [lighttheme]="lighttheme">
                    burger<br>
                    <p class="weak">I made this app while learning Reactjs</p>
                    <a href="https://react-redux-burger-a09c8.firebaseapp.com/" target="_blank">demo</a>&nbsp;
                    <a href="https://github.com/joairesm/burguer-challenge" target="_blank">github</a>
                </app-card>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="animate">
                        <h2>angular & redux</h2>
                    </div>
                    <app-card
                    [animate]="true"
                    [img-src]="'../../../assets/dashboard-thumbnail.png'"
                    [lighttheme]="lighttheme">
                    Dashboard<br>
                    <p class="weak">I made this app while learning Redux for Angular</p>
                    <a href="https://challenge-angular-redux.firebaseapp.com/" target="_blank">demo</a>&nbsp;
                    <a href="https://github.com/joairesm/challenge" target="_blank">github</a>
                </app-card>
            </div>
        </div>
    </div>
</div>
