.container{
    margin: 0px;
    padding-top: 50px; 
    padding-bottom: 50px;
    text-align: center;
}

.dark-theme{
    background-color: #343a40;

    h1{
        color: #fff;
    }
}


.light-theme{
    background-color: rgb(231, 231, 231);

    h1{
        color: #343a40;
    }
}