.container{
    padding-top: 50px; 
    padding-bottom: 50px;
    text-align: center;
    h1, h2{
        opacity: 0.5;
    }

    .p-languages{
        span{
            opacity: 0.85;
        }
    }
}

.dark-theme{
    background-color: #343a40;

    h1, h2{
        color: #fff;
    }

    .p-languages{
        opacity: 0.9;
        color: #fff;
        hr{
            border-top: 1px solid rgb(104, 104, 104);
        }
    }

}


.light-theme{
    background-color: rgb(231, 231, 231);

    h1, h2{
        color: #343a40;
    }
}