<div [ngClass]="lighttheme ? 'light-theme' : 'dark-theme'">
    <div class="animate">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-md-7 col-xs-12">
                        <h2>I’m a software engineer, specialised in front-end</h2>
                        <app-card
                            [xl]="true"
                            [animate]="true"
                            [img-src]="'../../../assets/me-1-min.jpg'"
                            [lighttheme]="lighttheme"
                            [fa-icon] = "'fa-twitter'">
                            <div *ngIf="tweets?.length > 0">
                                <span class="weak">my latest tweet:</span>
                                <br><br>"{{tweets[0]?.text}}"
                            </div>
                            </app-card>
                        <div class="hide-when-large">
                            <br><hr><br>
                        </div>
                    </div>
                    <div class="col-md-5 col-xs-12">
                        <app-loader [lighttheme]="lighttheme" *ngIf="photos == null"></app-loader>
                        <div class="animate" *ngIf="photos?.data.length > 0">
                            <h2>my latest instagram picture</h2>
                            <app-card
                                [animate]="true"
                                [img-src]="photos?.data[0].images.standard_resolution.url"
                                [lighttheme]="lighttheme"
                                [fa-icon] = "'fa-instagram'">
                                <span class="weak">caption </span>"{{photos?.data[0].caption.text}}"
                            </app-card>
                        </div>
                        <br><hr *ngIf="photos?.data.length > 0"><br>
                        <app-loader [lighttheme]="lighttheme" *ngIf="music == null"></app-loader>
                        <div class="animate" *ngIf="music?.items.length > 0" >
                            <h2>my latest song on spotify</h2>
                            <app-card
                                [animate]="true"
                                [img-src]="music?.items[0].track.album.images[0].url"
                                [lighttheme]="lighttheme"
                                [fa-icon] = "'fa-spotify'">
                                {{music?.items[0].track.name}} <br>
                                    <span class="weak">by</span> {{music?.items[0].track.artists[0].name}} <br>
                                    <span class="weak">from</span>  {{music?.items[0].track.album.name}}
                            </app-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>