$quare-size: 250px;
$rectangle-width: 390px;
$rectangle-height: 546px;
$dark-action-color: #40E0D0;
$light-action-color: #9f7be1c9;

$animation-time: 0.5s;

.container{
    padding-top: 30px; 
    padding-bottom: 50px;
    text-align: center;

    h2{
        opacity: 0.5;
        margin-bottom: 20px;
    }

    hr{
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
        width: 50px;
    }

}

.dark-theme{
    background-color: #343a40;

    hr{
        border-top: 1px solid $dark-action-color;
    }

    h1, h2, h3{
        color: #fff;
    }

}


.light-theme{
    background-color: rgb(231, 231, 231);

    h1,h2,h3 {
        color: #343a40;
    }

    hr{
        border-top: 1px solid $light-action-color;
    }

}