$dark-color: #485058;
$light-color: rgb(231, 231, 231);

.container{
    padding-top: 50px; 
    padding-bottom: 50px;
    text-align: center;
    h1, h2{
        opacity: 0.5;
    }

    .p-languages{
        span{
            opacity: 0.85;
        }
    }
}

.badge{
    font-weight: normal;
    font-family: inherit;
    margin: 5px;
    font-size: 14px;
}

.badge-light{
    background-color: $dark-color;
    color: $light-color;
    border-radius: 0;
}
.badge-dark{
    background-color: $light-color;
    color: $dark-color;
    border-radius: 8px;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .container{
        padding-top: 30px;
    }

}

.dark-theme{
    background-color: #343a40;

    h1, h2{
        color: #fff;
    }

    .p-languages{
        opacity: 0.9;
        color: #fff;
        hr{
            border-top: 1px solid rgb(104, 104, 104);
        }
    }

}


.light-theme{
    background-color: rgb(231, 231, 231);

    h1, h2{
        color: #343a40;
    }
}