/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

$selected-font : 'Fira Sans', sans-serif;
$dark-color: #343a40;
$light-color: rgb(231, 231, 231);

.dark-color{
    color: $dark-color;
}

.light-color{
    color: $light-color;
}

body{
    font-family: $selected-font;
}

h2{
    font-size: 12px;
    opacity: 0.7;
}

.shadow{
    -webkit-box-shadow: 0 0 30px 3px #777 !important;
    -moz-box-shadow: 0 0 30px 3px #777 !important;
    box-shadow: 0 0 30px 3px #777 !important;
}

.animate{
    animation-name: head;
    animation-duration: 0.5s;
}

@keyframes head {
    0% {padding-left: 30px; opacity:0;}
    100% {padding-left: 0px; opacity:1;}
}

.shadow-bottom {
    box-shadow: 0 8px 15px -10px black;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    h1{
        font-size: 36px;
    }
    .hide-when-small{
        height: 0px;
        width: 0px;
        visibility: collapse;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
    h1{
        font-size: 48px;
    }
    .hide-when-small{
        height: 0px;
        width: 0px;
        visibility: collapse;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    h1{
        font-size: 72px;
    }

    .hide-when-large{
        height: 0px;
        width: 0px;
        visibility: collapse;
    }
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
