$quare-size: 250px;
$rectangle-width: 390px;
$rectangle-height: 546px;

$animation-time: 0.5s;

.container{
    padding-top: 30px; 
    padding-bottom: 50px;
    text-align: center;

    h2{
        opacity: 0.5;
        margin-bottom: 20px;
    }

    hr{
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
        width: 50px;
    }

    .main-card{
        margin: auto;
        width: $rectangle-width;
        height: $rectangle-height;
        overflow: hidden;
        position: relative;

        &:hover, &:active{
            .fab{
                opacity: 1;
                animation: fade-in;
                animation-duration: $animation-time / 2;
            }
            img{
                opacity: 0.2;
                animation-name: img-animation;
                animation-duration: $animation-time;
            }
            .activity-description{
                height: $quare-size/2;
                margin-top: -1* $quare-size/2;
                animation-name: description-animation;
                animation-duration: $animation-time;
                padding:10px;

                .text-box{
                    opacity: 1;
                    animation: fade-in;
                    animation-duration: $animation-time / 2;
                }
            }
        }

        .fab{
            opacity: 0;
            position: absolute;
            top: 10px;
            right: 10px;
            animation: fade-out;
            animation-duration: $animation-time / 2;
        }

        img{
            height: $rectangle-height;
            width: $rectangle-width;
            animation-name: img-animation-return;
            animation-duration: $animation-time / 2;
        }
        .activity-description{
            height: 0;
            width: $rectangle-width;
            -webkit-box-align:center;
            -webkit-box-pack:center;
            display:-webkit-box;
            animation-name: description-animation-return;
            animation-duration: $animation-time / 2.5;
            padding:10px;
            
            .text-box{
                opacity: 0;
                animation: fade-out;
                animation-duration: $animation-time / 2;
                line-height: 100%;
                font-size: 14x;
                font-style: italic;
                text-align: left;
                .weak{
                    font-size: 12px;
                    font-style: italic;
                }
            }
        }
    }

    .activity-card{
        margin: auto;
        width: $quare-size;
        height: $quare-size;
        overflow: hidden;
        position: relative;

        &:hover, &:active{
            .fab{
                opacity: 1;
                animation: fade-in;
                animation-duration: $animation-time / 2;
            }
            img{
                opacity: 0.2;
                animation-name: img-animation;
                animation-duration: $animation-time;
            }
            .activity-description{
                height: $quare-size/2;
                margin-top: -1* $quare-size/2;
                animation-name: description-animation;
                animation-duration: $animation-time;
                padding:10px;

                .text-box{
                    opacity: 1;
                    animation: fade-in;
                    animation-duration: $animation-time / 2;
            
                }
            }
        }

        .fab{
            opacity: 0;
            position: absolute;
            top: 10px;
            right: 10px;
            animation: fade-out;
            animation-duration: $animation-time / 2;
        }

        img{
            height: $quare-size;
            width: $quare-size;
            animation-name: img-animation-return;
            animation-duration: $animation-time / 2;
        }
        .activity-description{
            height: 0;
            width: $quare-size;
            -webkit-box-align:center;
            -webkit-box-pack:center;
            display:-webkit-box;
            padding:10px;
            animation-name: description-animation-return;
            animation-duration: $animation-time / 2.5;

            .text-box{
                opacity: 0;
                animation: fade-out;
                animation-duration: $animation-time / 2;
                line-height: 100%;
                font-size: 14x;
                font-style: italic;
                text-align: left;
                .weak{
                    font-size: 12px;
                    font-style: italic;
                }
            }
        }
    }

}

.dark-theme{
    background-color: #343a40;

    hr{
        border-top: 1px solid rgb(61, 61, 61);
    }

    h1, h2{
        color: #fff;
    }

    .activity-card, .main-card{
        .fab{
            color: white;
        }
        img{
            border-radius: 3px;
        }
        .activity-description{
            .text-box{
                color: white;
            }
        }
    }
}


.light-theme{
    background-color: rgb(231, 231, 231);

    h1,h2{
        color: #343a40;
    }

    hr{
        border-top: 1px solid rgb(179, 179, 179);
    }

}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .main-card{
        width: 250px !important;
        height: 350px !important;

        img{
            width: 250px !important;
            height: 350px !important;
        }

        .activity-description{
            width: 250px !important;
            padding:10px !important;
        }

    }
}

@keyframes description-animation {
    from {  height: 0;
            margin-top: 0; }
    to {    height: $quare-size/2;
            margin-top: -1* $quare-size/2;}  
}
@keyframes img-animation {
    from { opacity: 1;}
    to { opacity: 0.2;}  
}

@keyframes description-animation-return {
    from {  height: $quare-size/2;
            margin-top: -1* $quare-size/2; }
    to {    height: 0;
            margin-top: 0;}  
}
@keyframes img-animation-return {
    from { opacity: 0.2;}
    to { opacity: 1;}  
}
@keyframes fade-in {
    from { opacity: 0;}
    to { opacity: 1;}  
}
@keyframes fade-out {
    from { opacity: 1;}
    to { opacity: 0;}  
}