$quare-size: 250px;
$animation-time: 0.5s;

.container{
    margin: 0px;
    padding-top: 50px; 
    padding-bottom: 50px;
    text-align: center;

    h2{
        opacity: 0.5;
    }

    hr{
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
        width: 50px;
    }

    .activity-card{
        margin: auto;
        width: $quare-size;
        height: $quare-size;
        overflow: hidden;

        &:active{
            .activity-description{
                height: $quare-size/2;
                margin-top: -1* $quare-size/2;
                animation-name: example;
                animation-duration: 0.5s;
            }
        }

        &:hover{
            img{
                opacity: 0.25;
                animation-name: img-animation;
                animation-duration: $animation-time;
            }
            .activity-description{
                height: $quare-size/2;
                margin-top: -1* $quare-size/2;
                animation-name: description-animation;
                animation-duration: $animation-time;
            }
        }

        @keyframes description-animation {
            from {  height: 0;
                    margin-top: 0; }
            to {    height: $quare-size/2;
                    margin-top: -1* $quare-size/2;}  
        }
        @keyframes img-animation {
            from { opacity: 1;}
            to { opacity: 0.25;}  
        }

        img{
            height: $quare-size;
            width: $quare-size;
        }
        .activity-description{
            height: 0;
            width: $quare-size;
            -webkit-box-align:center;
            -webkit-box-pack:center;
            display:-webkit-box;

            .text-box{
                line-height: 100%;
                font-size: 12px;
                font-style: italic;
                text-align: left;
                .weak{
                    font-size: 8px;
                    font-style: italic;
                }
            }
        }
    }

}

.dark-theme{
    background-color: #343a40;

    hr{
        border-top: 1px solid rgb(61, 61, 61);
    }

    h1, h2{
        color: #fff;
    }

    .activity-card{
        img{
            border-radius: 3px;
        }
        .activity-description{
            .text-box{
                background-color: #343a40 !important;
                color: white;
            }
        }
    }
}


.light-theme{
    background-color: rgb(231, 231, 231);

    h1,h2{
        color: #343a40;
    }

    hr{
        border-top: 1px solid rgb(179, 179, 179);
    }

}